<div class="navbar">
  <div class="nav-con">
    <div class="logo">
      <h1>aedsins</h1>
    </div>
    <div class="nav-itens">
      <ul>
        <li><a [routerLink]="['aedsins']">aedsins</a></li>
        <li><a [routerLink]="['metaverse']">metaverse</a></li>
        <li><a [routerLink]="['qled']">qled</a></li>
        <li><a [routerLink]="['about']">about</a></li>
      </ul>
    </div>
    <div class="config">
      <i class="fa-solid fa-bars" style="color: white; font-size: 40px; cursor: pointer;"></i>
    </div>
  </div>
</div>
